.starterTextContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.starterText {
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
}