@import "~taro-ui/dist/style/components/drawer.scss";
@import "~taro-ui/dist/style/components/list.scss";

.userInfoContainer {
  box-sizing: border-box;
  height: 140rpx;
  padding-right: 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin: 1em 0 1.5em 0;
}

.usersName {
  box-sizing: border-box;
  padding-left: 2em;
  height: 140rpx;
  font-size: 50rpx;
  line-height: 50rpx;
  color: rgb(71, 71, 71);

  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.usersIcon {
  box-sizing: border-box;
  padding: 0;
  width: 140rpx;
  height: 140rpx;
  border-radius: 70rpx;
  box-shadow: 0 0 2em #4d4d4d36;
  overflow: hidden;
}

.drawer-item {
  box-sizing: border-box;
  padding: 10rpx auto;
  margin: 20rpx auto;
  border-bottom-style: solid 2px #36363636;
}
