@import "~taro-ui/dist/style/components/drawer.scss";
@import "~taro-ui/dist/style/components/list.scss";

.userInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.usersName {
    padding-left: 2em;
    flex-grow: 4;
    box-sizing: border-box;
    border: 1px red solid;
}
.usersIcon {
    flex-grow: 1;
    box-sizing: border-box;
    border: 1px green solid;
}
.drawer-item {
    box-sizing: border-box;
    padding:5px auto;
    margin:10px auto;
    border-bottom-style: solid 2px #36363636;
}